<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>TODO</title>

</head>

<body>
    <h1>To do app</h1>
    <div>Add a new item.
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todoitem">
            <input type="submit" value="Add">
        </form>
    </div>

    <h2>Tasks to do:</h2>
    <ul>
        {% for item in todo_list %}
        <li>{{ item.text }} <a href="{{ url_for('done', id=item.id) }}"> Done</a></li>
        {% endfor %}
    </ul>

    <h2>Finished tasks:</h2>
    <ul>
        {% for item in done_list %}
        <li>{{ item.text }}</li>
        {% endfor %}
    </ul>

</body>

</html>